header{
    height: 50px;
    width: 100%;
    background-color: rgb(201, 217, 217);
}
li
{
text-decoration: none;
display: inline-block;
padding-left: 73px;
font-size: larger;
}
ul{
    float: right;
    line-height: 50px;
    margin-right: 3%;

}
// padding: 9px;
// border-radius: 19px;
// 
