<div class="overall">
<div class="det">
 <img src="./../../assets/rohit 45.png">
 <p>
    Rohit sharma<br>
    Frontend Developer
 </p>
</div>
<div class="det">
    <img src="./../../assets/rohit 45.png">
    <p>
       Rohit sharma<br>
       Frontend Developer
    </p>
</div>
<div class="det">
    <img src="./../../assets/rohit 45.png">
    <p>
       Rohit sharma<br>
       Frontend Developer
    </p>
</div>
<div class="det">
    <img src="./../../assets/rohit 45.png">
    <p>
       Rohit sharma<br>
       Frontend Developer
    </p>
</div>
<div class="det">
    <img src="./../../assets/rohit 45.png">
 <p>
    Rohit sharma<br>
    Frontend Developer
 </p>
</div>
<div class="det">
    <img src="./../../assets/rohit 45.png">
 <p>
    Rohit sharma<br>
    Frontend Developer
 </p>
</div>
</div>

