.overall{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.det
{
  background-color: #cccaca;
  height: 336px;
  width: 248px;
  margin: 46px 82px 0px 118px;
}
img
{
  height: 236px;
  width: 248px;
}
p
{
    text-align: center;
}