<div id="detail" class="overall">
<div class="det container">
   <img src="./../../assets/santhosh frontend .jpg" class="image">
   <span>
      Santhosh Mahendiran<br>
    Frontend Developer
   </span>
 
 <div class="overlay">
   <p  class="text">
      Passionate about crafting seamless user experiences through clean and elegant code
 </p>
</div>
</div>
<div class="det container">
    
    <img src="./../../assets/Sachin img.jpg" class="image">
    <span>
      Sachin<br>
    Frontend Developer
   </span>
 
    <div class="overlay">
    <p class="text">
      Passionate about crafting seamless user experiences through clean and elegant code
    </p>
   </div>
</div>
<div class="det container">
    <img src="./../../assets/thamu's image copy.jpg" class="image">
    <span>
      Thamothiran<br>
    Frontend Developer
   </span>
    <div class="overlay">
    <p class="text">
      Passionate about crafting seamless user experiences through clean and elegant code
    </p>
   </div>
</div>
<div class="det container">
    <img src="./../../assets/rohit 45.png" class="image">
    <span>
      Thamothiran<br>
    Frontend Developer
   </span>
    <div class="overlay">
    <p class="text">
      Passionate about crafting seamless user experiences through clean and elegant code
    </p>
   </div>
</div>
<div class="det container">
    <img src="./../../assets/rohit 45.png" class="image">
    <span>
      Thamothiran<br>
    Frontend Developer
   </span>
    <div class="overlay">
 <p class="text">
   Passionate about crafting seamless user experiences through clean and elegant code
 </p>
</div>
</div>
<div class="det container">
    <img src="./../../assets/rohit 45.png" class="image">
    <span>
      Thamothiran<br>
    Frontend Developer
   </span>
<div class="overlay">
 <p class="text">
   Passionate about crafting seamless user experiences through clean and elegant code
 </p>
</div>
</div>
</div>