section
{
    background-color: aliceblue;
    height: 510px;
    width: 100%;
    // padding: 6% 6%
}
img
{
    height: 400px;
    width: 450px;   
    padding: 15% 0% 0% 13%; 
}
p
{
    display: inline;
}
div
{
    height: 500px;
    width: 31%;
    float: left;
    
}
aside
{
  height:500px;
  width:69%;
  background-color: bisque;
  float: right;
}