section
{
    background-color: 5992bc;
    // background-color: rgb(255, 255, 255);
    height: 522px;
    width: 100%;
    // padding: 6% 6%
}
img
{
    height: 400px;
    width: 450px;   
    padding: 15% 0% 0% 7%; 
}
p
{
    display: inline;
}
article
{
    height: 500px;
    width: 34%;
    float: left;
    
}
aside
{
  height:500px;
  width: 64%;
  float: right;
  background-size: cover;
}
button
{
//  float: right;
}