article{
    height: 738px;

    // <p style="background-image: url('img_girl.jpg');">
    // background-image: url(./../../imges/computer\ img.jpg);
    // background-repeat: no-repeat;
}
img{
    height: 738px;
    width: 100%;
}

